body{
	background-color: 	#383838;
}
.content{
	width: 30%;
	height: 500px;
	background-color: #FFCC00;
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 420px;
	margin-right: 200px;
	border-radius: 8px;
}
h1{
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
img{
	border-radius: 50%;
}
.image{
	padding-left: 120px;
	padding-top: 30px;
}
.login_box{
	width: 90%
	padding-left: 20px;
}
input[type=button]{
	background-color: #000000;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;

}
.login_btn{
	padding-left: 115px;

}
.option{
	padding-left: 80px;
	font-weight: bold;
}
a:visited {
    color: black;
}
a:hover{
	color: red;
}